body {

    background-image: url("img/1.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    text-align: center;

}

img {

    border-radius: 50%;
    width: 10vw;
}

.blur {

    width: 20%;
    height: 100vh;
    background-color: black;


}

#perfil {

    height: 30%;
    padding: 40px;
    background-color: rgba(200, 200, 200, 0.1);

}

.letra {

    color: white;
    font-size: medium;

}